.modal__form-field {
  position: relative;
  max-width: 430px;
  width: 100%;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: red;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: calc(100%);
  left: 0;
}

.modal__input_type_error {
  border-color: red;
}

.modal__error_visible {
  opacity: 1;
}
