.header {
  display: flex;
  justify-content: baseline;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  width: 100%;
  margin: 45px auto 40px auto;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 581px;
    width: 100%;
    margin: 45px auto 40px auto;
  }
}

@media screen and (max-width: 580px) {
  .header {
    margin: 28px 0 42px 0;
    padding: 0 0 32px 27px;
    max-width: calc(100% - 27px);
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
